.homePage {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    right: 30px;
}

.buttonsDiv {
    position: absolute;
    top: 15px;
    right: 30px;
    display: flex;
    flex-direction: row;
}

.buttonsDiv .login-modal-button {
    display: inline-block;
    position: relative;
    height: 30px;
    margin: 0 0 0 6px;
    padding: 2px 15px;
    border: 1px solid #333;
    border-radius: 3px;
    border-color: #ccc;
    background-color: #fff;
    cursor: pointer;
    color: black;
    font-size: 14px;
    white-space: nowrap;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}

.carousel-indicators li {
    width: 10px !important; 
    height: 10px !important;
    margin-right: 10px !important;
    text-indent: -999px;
    cursor: pointer;
    background: transparent !important;
    background-clip: padding-box;
    border: 1px solid #fff !important;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 6px !important;
    border: 1px solid #fff !important;
}

.carousel-indicators .active {
    opacity: 1 !important;
    background-color: white !important;
}

.outtermost.mainLanding {
    margin-top: 0;
}

.outtermost#break p {
    align-self: center;
    font-size: 19px;
    padding: 40px 16px 0;
    margin: 0;
    text-align: center;
}

.outtermost#break {
    height: 100%;
    background-color: #f3eded;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: -58px;

    @media (min-width: 768px) {
        min-height: auto;
        margin-bottom: -92px;
    }
}

.outtermost#break img {
    width: 250px;

    @media (min-width: 768px) {
        width: 410px;
    }
}

.homePageThanks {
    margin-bottom: 8px;
    display: flex;
    z-index: 1000;
    height: 285px;
    position: relative;

    @media (min-width: 768px) {
        height: 325px;
    }

    p {
        position: absolute;
        color: #fff;
        text-align: center;
        right: 38px;
        top: 73px;
        font-size: 16px;

        @media (min-width: 768px) {
            font-size: 32px;
            right: 70px;
            top: 50px;
        }
    }
}

.homePageThanks .signup-modal-button {
    position: absolute;
    top: 126px;
    right: 50px;

    @media (min-width: 768px) {
        right: 162px;
        top: 152px;
    }
}

#micro {
    width: 100%;
    object-fit: cover;
    object-position: center 20%;

    @media (min-width: 768px) {
        object-position: 96% 20%;
    }
}

#links {
    display: flex;
}

#links a {
    margin-right: 11px;
}

.homePageFooter {
    display: flex;
    flex-direction: column;
    border-top: #f3eded solid 1px;
    padding-top: 9px;
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width:2000px) {
    .outtermost {
        width: 85%;
    }
}

.frontHero {
    color: #fff;
    position: relative;
    overflow: hidden;
    border-top: 4px solid rgb(65, 197, 81);
    height: 275px;
    -webkit-font-smoothing: antialiased;
    display: block;

    @media (min-width: 768px) {
        height: 350px;
    }
}

.caro-container {
    justify-content: space-between;
    height: 100%;
    flex-flow: column nowrap;
    display: flex; 
}

.caroMain {
    display: flex;
    height: 100%; 
    overflow: hidden;
}

.landing-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    box-shadow: inset 0 120px 40px -40px rgba(5,5,5,.5);
    text-shadow: 0 0 3px rgba(5,5,5,.5);
}
 
.transLogo {
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 9;
}

.transWhite {
    height: 50px;
    width: 175px;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.762);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
}

.songList {
    margin: auto;
    display: block;
    width: 100%;

    @media (min-width: 768px) {
        display: flex;
    justify-content: center;
    }
}

.songList ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px 16px 0px 16px;
    flex-wrap: nowrap;
    gap: 8px;
    overflow: scroll;

    img {
        width: 150px;
        height: 150px;

        @media (min-width: 768px) {
            width: 180px;
            height: 180px;
        }
    }
}

.songTile {
    position: relative;

    img {
        object-fit: cover;
    }
}

.songTile .songUser {
    margin-top: 5px;
    font-weight: 100;
    color: rgb(132, 131, 131);
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
}

.songTile a:hover {
   text-decoration: none;
}

.songTile .songUser:hover {
    color: #333;
}

.songTile .songTitle {
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: -2px;
    font-size: 15px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: normal;  
}

.songTile .play {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: none;
    border-color: #1DB954;
    background-color: #1DB954;
    text-indent: -9999px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('arrow.png');
    background-size: 70% 80%;
    background-position: 40%;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        display: block;
    }
}

.songTile .pause {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: #1DB954;
    background-color: #1DB954;
    text-indent: -9999px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 50% 55%;
    background-position-x: 46%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-image: url('media_player_assets/songTilePause.png');

    @media (max-width: 768px) {
        display: block;
    }
}

@media (min-width: 769px) {
    .songTile:hover .play {
        display: block;
    }
}

audio {
    display: block;
}

.mainSearch {
    padding: 30px 16px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    gap: 6px;

    @media (min-width: 768px) {
        align-items: center;
        justify-content: center;
    }
}

.mainSearch .searchBar {
    height: 45px;
    width: 100%;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
    border:none; 
    background-color: #f3eded;  
}

.mainSearch .search-button {
    position: absolute;
    width: fit-content;
    right: 8px;
}

.mainSearch .options-drop {
    width: 54%;
    position: absolute;
    z-index: 899;
    top: 75px;
    left: 0px;
    margin-left: 0px;
}

.mainSearch .options-drop li {
    padding-right: 2%;
}

.mainSearch p {
    align-self: center;
    margin-bottom: 0px;
}

.mainSearch button {
   align-self: center;
}
    
.homePageUploadButton {
    color: white;
    background-color: #1DB954;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.signup-modal-button#gitHubLink {
    align-self: center;
    margin: auto;
    position: absolute;
    bottom: 36px;
    display: flex;
    align-items: center;
    padding: 1px 10px 0px 10px;
}

.carousel-item#gitHub {
    justify-content: center;
    p {
        color: #fff;
        position: absolute;
        top: 117px;
        text-align: center;
        width: 399px;
        font-size: 19px;

        @media (min-width: 768px) {
            font-size: 24px;
            top: 163px;
            width: 425px;
        }

        &:first-of-type {
            top: 60px;

            @media (min-width: 768px) {
                top: 83px;
            }
        }
    }
}

.mainLanding .carousel-item {
    height: 100%;

    img {
        object-fit: cover;
    }
}

.signup-modal-button#gitHubLink:hover {
    text-decoration: none;
}