.searchHeader {
    border-bottom: #f2f2f2 solid 1px;
    padding-top: 37px;
    font-size: 22px;
    margin: 0 16px;

    @media (min-width: 768px) {
       font-size: 25px;
       margin: 0 30px;
    }
}

.mainSearchSplit {
    display: flex;
    width: 100%;
    background-color: white;

    @media (min-width: 768px) {
        margin-top: 40px;
    }
}

.everythingButton {
    white-space: nowrap;
}

.searchLeftSideBar {
    width: 100%;
    height: auto;
    background-color: white;
    border-bottom: #f2f2f2 solid 1px;
    margin-right: 40px;
    padding: 24px 0;
    justify-content: center;
    gap: 18px;

    @media (min-width: 768px) {
        width: 17%;
        height: fit-content;
        margin-left: 30px;
        padding: 0;
        gap: 0;
        justify-content: unset;
    }
}

.searchResultsMain {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;

    @media (min-width: 768px) {
        padding-left: 0px;
        padding-top: 0px;
    }
}

.filteredUsers #profilePic {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-bottom: 15px;
}

.filteredUsers {
    padding-right: 41px;
    text-align-last: center;
    display: flex;
}

.optionsArray {
    list-style-type: none;
    padding-inline-start: 0px;
}

.optionsArray li {
    margin-bottom: 30px;
}

.filteredUserInfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20px;
}

.discoverUserPart {
    font-size: 17px;
    font-weight: 500;
}

.filteredUserInfo a:hover {
    text-decoration: none;
    color: black;
}

.filteredUserInfo a {
    color: black;
}

.filteredUserInfo h1 {
    color: #999;
    font-size: 15px;
}

#greenResultsTab {
    color: white;
    background-color: #1DB954;
    cursor: pointer;
}

#resultsTab {
    cursor: pointer;
}

.searchLeftSideBar h3 {
    font-size: 15px;
    padding: 8px;
}

#foundHeader {
    font-size: 15px;
    margin-bottom: 35px;
}

.searchLeftSideBar #greenResultsTab img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
