ul.options {
    display: block;
    list-style: none;
    padding-inline-start: 0px !important;
    transition: width 0.3s;
    margin: auto;
    position: relative;
    box-sizing: content-box;
}
  
ul.options li {
    display: block;
    background: black;
    padding: 10px;
    padding-right: 0px;
    font-size: 13px;
    width: 100%;
    color: #fff;
    height: 19px;
    box-sizing: content-box;
}

ul.options li:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
}
  
ul.options li.option-active {
    background: #333;
    color: #fff;
}

.searchBar {
    height: 29px;
    width: 100%;
    z-index: 900;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    background-color: #f3eded;
    outline: none;
    text-overflow: ellipsis;
    padding-right: 18px;
}

.options-drop {
    background-color: black;
    width: 101%;
    margin: auto;
    margin-left: -11px;
    position: relative;
    top: -18px;
}

.search-button {
    border: none;
    position: absolute;
    right: 19px;
    z-index: 901;
    outline: none !important;

    @media (min-width: 768px) {
        right: 1px;
    }
}

.nav-con .searchBarContainer {
    position: relative;
    align-items: center;
    display: flex;
    width: 100%;
    background: #333;
    height: 56px;
    padding: 0 16px;

    @media (min-width: 768px) {
        width: 35%;
        height: unset;
        padding: 0;
        margin: 0 8px;
    }
}

.mainSearch .searchBarContainer {
    width: 60%;
    display: flex;
}
